{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">
    <i class="bi bi-geo-alt-plus text-warning"></i>
    {{ 'Edit Delivery Address' if form.address.data else 'Add Delivery Address' }}
</h2>
<form method="post" class="row g-3">
    {{ form.hidden_tag() }}
    <div class="col-md-6">
        <label for="cust_no" class="form-label">Customer No</label>
        {{ form.cust_no(class="form-control") }}
    </div>
    <div class="col-md-6">
        <label for="address_seq" class="form-label">Address Seq</label>
        {{ form.address_seq(class="form-control") }}
    </div>
    <div class="col-12">
        <label for="address" class="form-label">Address</label>
        {{ form.address(class="form-control", rows=2) }}
    </div>
    <div class="col-md-6">
        <label for="address_copies" class="form-label">No of Copies</label>
        {{ form.address_copies(class="form-control") }}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check2-circle"></i> Save
        </button>
        <a href="{{ url_for('list_deladdress') }}" class="btn btn-secondary ms-2">
            <i class="bi bi-arrow-left"></i> Cancel
        </a>
    </div>
</form>
{% endblock %}